$cGray:rgb(166, 166, 166);

* {
    margin: 0;
    padding: 0;
    background-color: $cGray;
}

header{
    position: relative;
    max-width: 960px;
    height: 270px;
    margin: 0 auto;
    & .header__inner {
        // top: 0;
        // left: 0;
        // height: 270px;
        // position: relative;

        & img {
            top: 50px;
            height: 50%;
            position: absolute;
            left: 200px;
        }
    }

    & nav {
        position: absolute;
        bottom: 30px;
        right: 0;
        & ul {
            list-style: none;
            &.cf {
                zoom: 1;
                & ::before{
                    content: "";
                    display: table;
                }
                
                & li {
                    margin-left: 50px;
                    display: inline;
                    float: none;
                    border-bottom: none;
                    text-align: right;
                    width: 50%;
                    & .about{
                    
                    }
                    & .apps{
                        
                    }
                    & .blog{
                        
                    }
                    & .contact{
                        
                    }
                }
            }
        }
    }
}
